<h1 class="text-center">WITTE KRUIS</h1>
<div class="row">
    <div class="col-sm-2 col-sm-offset-2">
        <div>Ambulance</div>
        <div>15199</div>
    </div>
    <div class="col-sm-2">
        <div>Verpleegkundige</div>
        <div>R.S. Rijken</div>
    </div>
    <div class="col-sm-2">
        <div>Chauffeur</div>
        <div>E. van der Ploeg</div>
    </div>
    <div class="col-sm-2">
        <div>Derde persoon</div>
        <div>M.T. Witteveen</div>
    </div>
</div>
<ride-list rides="$ctrl.rides"
           title="Volgende rit"></ride-list>